body {
    font-family: 'Outfit', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(212, 46%, 89%);
}

h1.Sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

section {
    background-color: hsl(0, 0%, 100%);
    padding: 1em;
    border-radius: 0.75em;
    text-align: center;
    width: 320px;
}

img {
    border-radius: 0.75em;
    max-width: 100%;
}

h2.codehead {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
}

p.codep {
    font-size: 1.2rem;
    color: hsl(220, 15%, 55%);
    text-align: center;
}

p.bottom {
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
    text-align: center;
}

a {
    color: hsl(220, 15%, 55%);
}